<div class="create-dialog-content">
  <h1 style="text-align: center">New Instance Creator</h1>
  <hr>

  <mat-form-field class="full" color="accent">
    <input matInput placeholder="instance title" [(ngModel)]="title">
  </mat-form-field>

  <mat-form-field class="full" color="accent">
    <input matInput placeholder="instance owner" [(ngModel)]="owner">
  </mat-form-field>

  <div>
    <mat-form-field class="small" color="accent">
      <input matInput type="number" placeholder="Votes Allowed" [(ngModel)]="likesAllowed">
    </mat-form-field>

    <mat-checkbox [(ngModel)]="negativeVotesAllowed">Negative Votes</mat-checkbox>

    <mat-checkbox [(ngModel)]="emojiAllowed">Emoji Reactions</mat-checkbox>
  </div>

  <div class="columns">
    <h3>Columns</h3>

    <button
      matTooltip="Add Column"
      mat-icon-button
      [disabled]="columns.length > 4"
      (click)="columns.push({ color: 'gray', text: '', icon: null })"
      class="corner-button">
      <mat-icon>add</mat-icon>
    </button>
  </div>

<cdk-virtual-scroll-viewport
  class="columns-viewport"
  cdkDropList
  [cdkDropListData]="columns"
    (cdkDropListDropped)="drop($event)"
    itemSize="1"
  [style.height]="(90 * (columns.length > 3 ? 3 : columns.length)) + 'px'"
>
  <mat-form-field class="full" color="accent" appearance="outline" *ngFor="let column of columns; let i = index" cdkDrag>
    <input
      [style.border]="border(column.color) + ' solid 4px'"
      [style.background]="column.color"
      class="col-input"
      matInput
      [placeholder]="'column ' + (i + 1)"
      [(ngModel)]="column.text">

    <div matPrefix class="options-wrapper">
      <button mat-icon-button matTooltip="delete column" [disabled]="columns.length < 2" (click)="del(i)">
        <mat-icon>delete</mat-icon>
      </button>

      <div>
        <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="pick a color">
          <mat-icon>colorize</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="setColor(color, i)" mat-menu-item *ngFor="let color of colors" [style.background]="color">{{ color }}</button>
        </mat-menu>
      </div>

      <button mat-icon-button matTooltip="select an icon" (click)="setIcon(i)"><mat-icon>emoji_emotions</mat-icon></button>

    </div>

    <mat-icon *ngIf="column.icon" matSuffix [matTooltip]="'column icon: ' + column.icon">{{ column.icon }}</mat-icon>

  </mat-form-field>
</cdk-virtual-scroll-viewport>

  <hr>

  <div class="columns">

    <div matTooltip="instance url - click to copy" (click)="copy()">
      <input id="url" disabled *ngIf="title" [value]="url">
    </div>

    <button mat-raised-button color="primary" (click)="start()">create</button>
  </div>
</div>
