<h3>Start a New Instance</h3>

<mat-form-field>
  <input matInput placeholder="instance title" [(ngModel)]="title">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="instance owner" [(ngModel)]="owner">
</mat-form-field>

<mat-form-field>
  <input matInput type="number" placeholder="Votes Allowed" [(ngModel)]="likesAllowed">
</mat-form-field>

<mat-checkbox [(ngModel)]="negativeVotesAllowed">Allow Negative Votes</mat-checkbox>

<br/><br/>

<div class="right">
  <button mat-raised-button color="primary" (click)="start()">start</button>
</div>
