<h3>Start a New Instance</h3>

<mat-form-field color="accent">
  <input matInput placeholder="instance title" [(ngModel)]="title">
</mat-form-field>

<mat-form-field color="accent">
  <input matInput placeholder="instance owner" [(ngModel)]="owner">
</mat-form-field>

<mat-form-field color="accent">
  <input matInput type="number" placeholder="Votes Allowed" [(ngModel)]="likesAllowed">
</mat-form-field>

<mat-checkbox [(ngModel)]="negativeVotesAllowed">Negative Votes</mat-checkbox> &nbsp;&nbsp;

<mat-checkbox [(ngModel)]="emojiAllowed">Emoji Reactions</mat-checkbox>

<div class="columns">
  <h4>Columns</h4>

  <button
    matTooltip="Add Column"
    mat-icon-button
    [disabled]="columns.length > 4"
    (click)="columns.push({ color: 'green', text: '' })"
    class="corner-button">
    <mat-icon>add</mat-icon>
  </button>
</div>

<cdk-virtual-scroll-viewport
  cdkDropList
  [cdkDropListData]="columns"
  (cdkDropListDropped)="drop($event)"
  itemSize="1"
  [style.height]="(102 * columns.length) + 'px'"
>
  <mat-form-field color="accent" appearance="outline" *ngFor="let column of columns; let i = index" cdkDrag>
    <input [style.border]="border(column.color) + ' solid 4px'" [style.background]="column.color" class="col-input" matInput [(ngModel)]="column.text">

    <button matPrefix mat-icon-button [matMenuTriggerFor]="menu" matTooltip="pick a color">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="setColor(color, i)" mat-menu-item *ngFor="let color of colors" [style.background]="color">{{ color }}</button>
    </mat-menu>

    <button [style.margin-left]="'15px'" mat-icon-button matSuffix matTooltip="delete column" [disabled]="columns.length < 2" (click)="del(i)">
      <mat-icon>remove</mat-icon>
    </button>
  </mat-form-field>
</cdk-virtual-scroll-viewport>

<div class="right">
  <button mat-raised-button color="primary" (click)="start()">start</button>
</div>
