.columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  margin-bottom: 6px;
}

.columns-viewport {
  padding: 10px 12px;
  box-sizing: border-box;
}

.columns-viewport::ng-deep .cdk-virtual-scroll-content-wrapper {
  padding: 6px 8px;
  box-sizing: border-box;
}

.create-dialog-content {
  padding: 12px 20px 18px;
}

.full {
  width: 100%;
}

.dropdown {
  margin-right: 5px;
}

.col-input {
  padding: 3px 3px 3px 5px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}

.options-wrapper {
  display: flex;
}

cdk-virtual-scroll-viewport::ng-deep.mat-form-field-infix {
  border-top: 0;
  padding-top: 20px;
}

cdk-virtual-scroll-viewport::ng-deep.mat-form-field-wrapper {
  padding-bottom: 0;
}

#url {
  border: gray solid 2px;
  background: darkgrey;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: #303030;
  margin: 0;
  width: 400px;
}

#url:hover {
  border: #373737 solid 2px;
  color: #111111;
  background: #c2c2c2;
}

h1 {
  margin: 0 5px 5px;
}
