.columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  width: 100%;
}

.dropdown {
  margin-right: 5px;
}

.col-input {
  padding: 3px 3px 3px 5px;
  border-radius: 10px;
}
