
<div class="body">
  <mat-toolbar color="primary">
    <mat-toolbar-row>

      <!-- left menu: title | votes left | ...online users  -->
      <mat-chip-list *ngIf="socketService.instance">

        <mat-chip color="primary" selected matTooltip="instance title"><h2>
          {{ socketService.instance.title }}
        </h2></mat-chip>

        <mat-chip color="primary" selected>
          <mat-icon matTooltip="votes left">how_to_vote</mat-icon>
          {{ socketService.votesLeft }}
        </mat-chip>

        <mat-chip
          [id]="user"
          style="overflow: visible"
          *ngFor="let user of socketService.instance.users"
          (click)="chat(user)"
          [matTooltip]="chipToolTip(user)">
          <mat-icon matTooltip="self" *ngIf="socketService.name === user">account_circle</mat-icon>
          <mat-icon matTooltip="instance owner" *ngIf="socketService.instance.owner === user">gavel</mat-icon>
          <span matBadgeColor="warn" matBadgeSize="large" [matBadge]="unreadMessages[user]">{{ user }}</span>
        </mat-chip>

        <span *ngFor="let user of socketService.offlineUsers">
          <mat-chip
            *ngIf="socketService.conversations[user]"
            [id]="user"
            style="overflow: visible"
            (click)="chat(user)"
            disabled
            [matTooltip]="user + ' is offline'">
            <mat-icon matTooltip="offline">cloud_off</mat-icon>
            <span matBadgeColor="warn" matBadgeSize="large" [matBadge]="unreadMessages[user]">{{ user }}</span>
          </mat-chip>
        </span>
      </mat-chip-list>

      <h2 *ngIf="!socketService.instance">{{ introMessage }}</h2>

      <!-- right menu: download | lock | delete | create | about -->
      <mat-chip-list>

        <mat-chip
          *ngIf="socketService.instance"
          color="primary"
          selected
          matTooltip="Download"
          [matMenuTriggerFor]="download">
          <mat-icon>vertical_align_bottom</mat-icon>
        </mat-chip>
        <mat-menu #download>
          <button (click)="downloadCSV()" mat-menu-item>CSV</button>
          <button (click)="downloadPDF()" mat-menu-item>PDF</button>
        </mat-menu>

        <mat-chip
          *ngIf="socketService.instance"
          color="primary"
          selected
          [matTooltip]="(!socketService.instance.locked ? '' : 'un') + 'lock instance'"
          [disabled]="socketService.instance.owner !== socketService.name"
          (click)="onLockPress()">
          <mat-icon>lock{{ socketService.instance.locked ? '' : '_open'}}</mat-icon>
        </mat-chip>

        <mat-chip
          *ngIf="socketService.instance"
          color="primary"
          [disabled]="socketService.instance.owner !== socketService.name"
          (click)="delete()"
          selected>
          <mat-icon matTooltip="delete instance">delete</mat-icon>
        </mat-chip>

        <mat-chip
          color="primary"
          (click)="newInstance()"
          selected>
          <mat-icon matTooltip="create a new instance">addchart</mat-icon>
        </mat-chip>

        <mat-chip
          color="primary"
          (click)="about()"
          selected>
          <mat-icon matTooltip="about">new_releases</mat-icon>
        </mat-chip>

      </mat-chip-list>

    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
