
<div class="body">
  <mat-toolbar color="primary">
    <mat-toolbar-row>

      <mat-chip-list *ngIf="socketService.instance">

        <mat-chip color="primary" selected matTooltip="instance title"><h2>
          {{ socketService.instance.title }}
        </h2></mat-chip>

        <mat-chip
          color="primary"
          selected
          [matTooltip]="'Instance is ' + (socketService.instance.locked ? '' : 'un') + 'locked.'"
          [disabled]="socketService.instance.owner !== socketService.name"
          (click)="onLockPress()">
          <mat-icon *ngIf="socketService.instance.locked">lock</mat-icon>
          <mat-icon *ngIf="!socketService.instance.locked">lock_open</mat-icon>
        </mat-chip>


        <mat-chip color="primary" selected>
          <mat-icon matTooltip="votes left">how_to_vote</mat-icon>
          {{ socketService.votesLeft }}
        </mat-chip>

        <mat-chip *ngFor="let user of socketService.instance.users">
          <mat-icon matTooltip="self" *ngIf="socketService.name === user">account_circle</mat-icon>
          <mat-icon matTooltip="instance owner" *ngIf="socketService.instance.owner === user">gavel</mat-icon>
          {{ user }}
        </mat-chip>

      </mat-chip-list>

    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
