
.board {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.section {
  width: 100%;
  margin: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 .5rem .5rem .5rem;
  color: ghostwhite;
}

.trash {
  width: 120px;
  height: 140px;
  z-index: 100;
  position: fixed;
  bottom: 5px;
  right: 5px;
  padding: 35px 5px 30px 5px
}

.center {
  text-align: center;
  margin-bottom: 0;
}

.min-trash {
  width: 20px;
  height: 0;
  z-index: 100;
  position: fixed;
  bottom: 178px;
  right: 83px;
}

.trash-handle {
  position: absolute;
  top: 4px;
  right:3px;
}

.trash-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding-top: 20px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.section-body {
  flex: 1;
}

.trash-object {
  height: 16px;
  font-size: small;
  margin: 3px;
  border-radius: 7px;
}

.delete-button {
  height: 16px;
  width: 16px;
  background: floralwhite;
  padding-top: 0;
  border: red solid 1px;
  border-radius: 8px;
  padding-left: 3px;
}

.trash-lock {
  position: absolute;
  top: 5px;
  right: 28px;
}

.corner-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}

.trash-all-button {
  position: absolute;
  top: 5px;
  left: 23px;
  color: red;
}

.resize-button {
  position: absolute;
  top: 4px;
  left: 3px;
}

mat-card {
  margin-top: 8px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.login-wrapper {
  width: 500px;
  margin: auto;
}

.login {
  padding: 1rem;
  color: ghostwhite;
}

.col-icon {
  transform: scale(1.6);
  margin-right: 15px;
}
