
<div *ngIf="!socketService.name" class="login-wrapper">
  <mat-card class="login">

    <p>Please enter a name to join instance "{{ title }}"</p>

    <mat-form-field>
      <input matInput placeholder="name" (keyup.enter)="join()" [(ngModel)]="nameInput">
    </mat-form-field>
    &nbsp;
    <button mat-raised-button color="accent" (click)="join()">join</button>

  </mat-card>
</div>

<div *ngIf="socketService.instance && socketService.name" class="board" cdkDropListGroup>
  <mat-card class="section" id="goods-color">
    <h1 class="center">Went Well</h1>

    <cdk-virtual-scroll-viewport
      cdkDropList
      [cdkDropListData]="socketService.instance.goods"
      (cdkDropListDropped)="drop($event)"
      id="goods"
      itemSize="1"
      class="section-body">
      <mat-card class="good" *ngFor="let statement of socketService.instance.goods; let i = index" cdkDrag>
        <app-statement
          [statement]="statement"
          (trashStatement)="trash({ lastIndex: i, lastList: 'goods', manual: true })">
        </app-statement>
      </mat-card>
    </cdk-virtual-scroll-viewport>

    <button
      matTooltip="write statement"
      mat-fab
      class="corner-button"
      color="accent"
      [disabled]="socketService.disabled"
      (click)="write('goods')">
      <mat-icon>create</mat-icon>
    </button>
  </mat-card>

  <mat-card class="section" id="bads-color">
    <h1 class="center">Not Well</h1>

    <cdk-virtual-scroll-viewport
      cdkDropList
      [cdkDropListData]="socketService.instance.bads"
      (cdkDropListDropped)="drop($event)"
      id="bads"
      itemSize="1"
      class="section-body">
      <mat-card class="bad" *ngFor="let statement of socketService.instance.bads; let i = index" cdkDrag>
        <app-statement
          [statement]="statement"
          (trashStatement)="trash({ lastIndex: i, lastList: 'bads', manual: true })">
        </app-statement>
      </mat-card>
    </cdk-virtual-scroll-viewport>

    <button
      matTooltip="write statement"
      mat-fab
      class="corner-button"
      color="accent"
      [disabled]="socketService.disabled"
      (click)="write('bads')">
      <mat-icon>create</mat-icon>
    </button>
  </mat-card>

  <mat-card class="section" id="actions-color">
    <h1 class="center">Action Items</h1>

    <cdk-virtual-scroll-viewport
      cdkDropList
      [cdkDropListData]="socketService.instance.actions"
      (cdkDropListDropped)="drop($event)"
      id="actions"
      itemSize="1"
      class="section-body">
      <mat-card class="action" *ngFor="let statement of socketService.instance.actions; let i = index" cdkDrag>
        <app-statement
          [statement]="statement"
          (trashStatement)="trash({ lastIndex: i, lastList: 'actions', manual: true })">
        </app-statement>
      </mat-card>
    </cdk-virtual-scroll-viewport>

    <button
      matTooltip="write statement"
      mat-fab
      class="corner-button"
      color="accent"
      [disabled]="socketService.disabled"
      (click)="write('actions')">
      <mat-icon>create</mat-icon>
    </button>
  </mat-card>


  <mat-card [ngClass]="{ 'min-trash': minimizeTrash, 'trash': !minimizeTrash }" cdkDrag>
    <cdk-virtual-scroll-viewport
      class="trash-body"
      *ngIf="!minimizeTrash"
      cdkDropList
      id="trash"
      [cdkDropListData]="socketService.instance.trash"
      itemSize="1"
      (cdkDropListDropped)="trash($event)">
      <div
        [ngClass]="trashClass(junk)"
        *ngFor="let junk of socketService.instance.trash; let i = index"
        cdkDrag>
        <button
          class="delete-button"
          [disabled]="!canDelete(i) || socketService.disabled || socketService.instance.trashIsLocked"
          (click)="delete(i)"
          matTooltip="delete">
          X
        </button>
        <span [matTooltip]="junk.text">
          {{ displayJunk(junk) }}
        </span>
      </div>
    </cdk-virtual-scroll-viewport>

    <mat-icon
      *ngIf="socketService.instance.owner === socketService.name && !socketService.instance.trashIsLocked && !minimizeTrash"
      matTooltip="delete all"
      class="trash-all-button"
      color="warn"
      (click)="deleteAll()">
      delete_forever
    </mat-icon>

    <mat-icon
      [matTooltip]="minimizeTrash ? 'restore' : 'minimize'"
      class="resize-button"
      (click)="minimizeTrash = !minimizeTrash">
      {{ minimizeTrash ? 'add' : 'remove' }}
    </mat-icon>

    <mat-icon
      *ngIf="!minimizeTrash"
      [color]="socketService.instance.trashIsLocked ? 'warn' : 'accent'"
      (click)="socketService.emit('lock-trash', null)"
      [matTooltip]="'Trash is ' + (socketService.instance.trashIsLocked ? '' : 'un') + 'locked.'"
      class="trash-lock">
      {{ socketService.instance.trashIsLocked ? 'lock' : 'lock_open' }}
    </mat-icon>
    <mat-icon class="trash-handle" cdkDragHandle>open_with</mat-icon>
  </mat-card>

</div>
