
.board {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.section {
  width: 30%;
  margin: 10px;
  overflow-y: auto;
  position: relative;
}

.trash {
  width: 100px;
  height: 150px;
  z-index: 100;
  position: fixed;
  bottom: 5px;
  right: 5px;
  padding: 5px;
  overflow: auto;
}

.trash-handle {
  position: absolute;
  top: 3px;
  right:3px;
}

.trash-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.trash-object {
  height: 10px;
  font-size: xx-small;
  margin: 3px;
  border-radius: 3px;
}

.delete-button {
  color: red;
  background: floralwhite;
  border: red solid 1px;
  border-radius: 6px;
  padding-left: 2px;
  margin-right: 2px;
}

.corner-button {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: larger;
}

.left-corner-button {
  position: absolute;
  top: 5px;
  left: 5px;
  color: red;
}

mat-card {
  margin-top: 8px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

#goods {
  background: lightgreen;
}

#bads {
  background: lightcoral;
}

#actions {
  background: orange;
}

.action {
  background: orangered;
}

.good {
  background: green;
}

.bad {
  background: darkred;
}
