
<div *ngIf="!socketService.name" class="login-wrapper">
  <mat-card class="login">

    <p>Please enter a name to join instance "{{ title }}"</p>

    <mat-form-field>
      <input matInput placeholder="name" (keyup.enter)="join()" [(ngModel)]="nameInput">
    </mat-form-field>
    &nbsp;
    <button mat-raised-button color="accent" (click)="join()">join</button>

  </mat-card>
</div>

<div *ngIf="socketService.instance && socketService.name" class="board" cdkDropListGroup>

  <mat-card
    *ngFor="let column of socketService.instance.columns; let colIndex = index"
    [style.background]="background(column.color)"
    class="section"
    >
    <h1 class="center"><mat-icon class="col-icon" *ngIf="column.icon">{{ column.icon }}</mat-icon>{{ column.text }}</h1>

    <cdk-virtual-scroll-viewport
      cdkDropList
      [cdkDropListData]="column.items"
      (cdkDropListDropped)="drop($event)"
      [id]="colIndex"
      itemSize="1"
      class="section-body hide-scroll">
      <mat-card [style.background]="column.color" *ngFor="let statement of column.items; let i = index" cdkDrag>
        <app-statement
          [statement]="statement"
          [type]="column.text"
          (trashStatement)="trash({ lastIndex: i, lastList: colIndex, manual: true })">
        </app-statement>
      </mat-card>
    </cdk-virtual-scroll-viewport>

    <button
      matTooltip="write statement"
      mat-mini-fab
      class="corner-button"
      color="accent"
      [style.background]="column.color"
      [disabled]="socketService.disabled"
      (click)="write(column.text)">
      <mat-icon>create</mat-icon>
    </button>
  </mat-card>

  <mat-card [ngClass]="{ 'min-trash': minimizeTrash, 'trash': !minimizeTrash }" cdkDrag>
    <cdk-virtual-scroll-viewport
      class="trash-body hide-scroll"
      *ngIf="!minimizeTrash"
      cdkDropList
      id="trash"
      [cdkDropListData]="socketService.instance.trash"
      itemSize="1"
      (cdkDropListDropped)="trash($event)">
      <div
        class="trash-object"
        [style.background]="trashColor(junk)"
        *ngFor="let junk of socketService.instance.trash; let i = index"
        cdkDrag>
        <button
          class="delete-button"
          [disabled]="!canDelete(i) || socketService.disabled || socketService.instance.trashIsLocked"
          (click)="delete(i)"
          matTooltip="delete">
          X
        </button>
        <span [matTooltip]="junk.text">
          {{ displayJunk(junk) }}
        </span>
      </div>
    </cdk-virtual-scroll-viewport>

    <mat-icon
      *ngIf="socketService.instance.owner === socketService.name && !socketService.instance.trashIsLocked && !minimizeTrash"
      matTooltip="delete all"
      class="trash-all-button"
      color="warn"
      (click)="deleteAll()">
      delete_forever
    </mat-icon>

    <mat-icon
      [matTooltip]="minimizeTrash ? 'restore' : 'minimize'"
      class="resize-button"
      (click)="minimizeTrash = !minimizeTrash">
      {{ minimizeTrash ? 'add' : 'remove' }}
    </mat-icon>

    <mat-icon
      *ngIf="!minimizeTrash"
      [color]="socketService.instance.trashIsLocked ? 'warn' : 'accent'"
      (click)="socketService.emit('lock-trash', null)"
      [matTooltip]="'Trash is ' + (socketService.instance.trashIsLocked ? '' : 'un') + 'locked.'"
      class="trash-lock">
      {{ socketService.instance.trashIsLocked ? 'lock' : 'lock_open' }}
    </mat-icon>
    <mat-icon class="trash-handle" cdkDragHandle>open_with</mat-icon>
  </mat-card>

</div>
