<mat-icon *ngIf="statement.isEdited" matTooltip="statement has been edited">outlined_flag</mat-icon>

<h2 class="line-breaks">{{ statement.text }}</h2>

<button
  mat-icon-button
  (click)="unVote('ups')"
  [disabled]="socketService.disabled"
  *ngIf="iVoted(statement, 'ups')">
  <mat-icon>undo</mat-icon>
</button>
<button
  [disabled]="!socketService.votesLeft || this.socketService.disabled"
  mat-icon-button
  matBadgePosition="before"
  [matBadge]="calcVotes(statement, 'ups')"
  (click)="vote('ups')">
  <mat-icon>thumb_up</mat-icon>
</button>

<button
  *ngIf="socketService.instance.negativeVotesAllowed"
  [disabled]="!socketService.votesLeft || this.socketService.disabled"
  mat-icon-button
  [matBadge]="calcVotes(statement, 'downs')"
  (click)="vote('downs')">
  <mat-icon>thumb_down</mat-icon>
</button>
<button
  mat-icon-button
  (click)="unVote('downs')"
  [disabled]="socketService.disabled"
  *ngIf="iVoted(statement, 'downs')">
  <mat-icon>undo</mat-icon>
</button>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<button
  mat-icon-button
  matTooltip="add a comment"
  [disabled]="socketService.disabled"
  (click)="comment()">
  <mat-icon>add_comment</mat-icon>
</button>

<button
  mat-icon-button
  [disabled]="!canEdit || socketService.disabled"
  matTooltip="edit statement"
  (click)="edit()">
  <mat-icon>edit</mat-icon>
</button>

<button
  mat-icon-button
  [disabled]="socketService.disabled"
  (click)="addEmoji()"
  matTooltip="add an emoji reaction">
  <mat-icon>emoji_emotions</mat-icon>
</button>

<mat-chip-list *ngIf="statement.emoji.length">
  <mat-chip
    style="overflow: visible"
    *ngFor="let obj of statement.emoji"
    [matTooltip]="obj.names.join(', ')"
    [disabled]="socketService.disabled"
    [matBadge]="obj.names.length === 1 ? null : obj.names.length"
    (click)="emoji(obj.emoji)">
    <span style="font-size: 30px" >{{ obj.emoji }}</span>
  </mat-chip>
</mat-chip-list>

<mat-card *ngFor="let comment of statement.comments; let i = index">
  <mat-icon *ngIf="comment.isEdited" matTooltip="comment has been edited">outlined_flag</mat-icon>

  <h3 class="line-breaks">{{ comment.text }}</h3>

  <button
    mat-icon-button
    (click)="unCommentVote('ups', comment.id)"
    [disabled]="socketService.disabled"
    *ngIf="iVoted(comment, 'ups')">
    <mat-icon>undo</mat-icon>
  </button>
  <button
    (click)="commentVote('ups', comment.id)"
    [disabled]="!socketService.votesLeft || socketService.disabled"
    mat-icon-button
    matBadgePosition="before"
    [matBadge]="calcVotes(comment, 'ups')">
    <mat-icon>thumb_up</mat-icon>
  </button>
  <button
    *ngIf="socketService.instance.negativeVotesAllowed"
    (click)="commentVote('downs', comment.id)"
    [disabled]="!socketService.votesLeft || socketService.disabled"
    mat-icon-button
    [matBadge]="calcVotes(comment, 'downs')">
    <mat-icon>thumb_down</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="unCommentVote('downs', comment.id)"
    [disabled]="socketService.disabled"
    *ngIf="iVoted(comment, 'downs')">
    <mat-icon>undo</mat-icon>
  </button>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <button
    mat-icon-button
    [disabled]="!canEditComment(i) || socketService.disabled"
    (click)="editComment(comment.id, comment.text)"
    matTooltip="edit comment">
    <mat-icon>edit</mat-icon>
  </button>

  <button
    mat-icon-button
    [disabled]="!canEditComment(i) || socketService.disabled"
    color="warn"
    (click)="deleteComment(comment.id)"
    matTooltip="delete comment">
    <mat-icon>delete</mat-icon>
  </button>
</mat-card>

<button
  class="delete-button"
  mat-icon-button
  [disabled]="!canEdit || socketService.disabled"
  (click)="trashStatement.emit()"
  matTooltip="delete statement">
  <mat-icon>cancel</mat-icon>
</button>


