
.corner-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

mat-card {
  margin-top: 6px;
}

.line-breaks { white-space: pre-wrap }

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
}

.minimize-button {
  position: absolute;
  top: 0;
  right: 27px;
}
