
.corner-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

mat-card {
  margin-top: 6px;
}

.line-breaks { white-space: pre-wrap }

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
}

.minimize-button {
  position: absolute;
  top: 0;
  right: 27px;
}

.statement-wrapper {
  padding: .5rem;
}

.comment-wrapper {
  padding: .5rem;
}

.flag {
  position: absolute;
  top: .5rem;
  right: 4rem;
}

:host ::ng-deep .mat-mdc-icon-button .mat-mdc-button-touch-target {
  height: 36px;
  width: 36px;
}

:host ::ng-deep .mat-mdc-icon-button {
  --mdc-icon-button-state-layer-size: 36px;
  padding: 6px;
}
